.header__auth-nav {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 985px) {
  .header__auth-nav {
    margin-right: 35px;
  }
}

@media screen and (max-width: 568px) {
  .header__auth-nav {
    align-items: end;
    gap: 18px;
    display: flex;
    flex-direction: column;
    margin-right: 27px;
  }
}