.header {
  padding: 0 0 41px;
  margin: 0;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 568px) {
  .header {
    padding: 0 0 31.6px;
  }
}